.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.container__title {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
}

.container__form {
  width: 50%;
  font-family: sans-serif;
  font-size: 24px;
}

.container__input-group {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: black;
}

.container__input {
  flex: 1;
  border: 2px solid #171717;
  border-radius: 10px;
  padding-inline: 5px;
  padding-block: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.container__input:focus {
  border-color: cyan;
}

.container__button {
  border: 2px solid #171717;
  border-radius: 10px;
  padding-inline: 5px;
  padding-block: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.container__button:hover {
  border-color: cyan;
}

.container__button:active {
  transform: translateY(2px);
}

.container__output-group {
  width: 50%;
  font-family: sans-serif;
  font-size: 24px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: black;
}
